CREATE DATABASE IF NOT EXISTS church_software
CHARACTER SET utf8mb4
COLLATE utf8mb4_unicode_ci;

USE church_software;

CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    role ENUM('admin','member') NOT NULL DEFAULT 'member',
    member_id INT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE members (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(150) NOT NULL,
    dob DATE NULL,
    whatsapp VARCHAR(30) NULL,
    address TEXT NULL,
    photo VARCHAR(255) NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);

CREATE TABLE marriages (
    id INT AUTO_INCREMENT PRIMARY KEY,
    husband_name VARCHAR(150) NOT NULL,
    wife_name VARCHAR(150) NOT NULL,
    marriage_date DATE NULL,
    whatsapp VARCHAR(30) NULL,
    photo VARCHAR(255) NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);